<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>오늘의 운세는? - FortuneTeller</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

  <!-- 톱니바퀴 버튼 -->
  <div class="top-bar">
    <a class="admin-button" th:href="@{/login}" >
        <img  th:src="@{/images/adminPage_icon.png}" alt="관리자페이지이동">
    </a>
  </div>

  <!-- 메인 흰 박스 -->
  <div class="main-box">
      <form th:action="@{/fortune}" method="POST">
        <select class="input-field" name="year" >
            <option value="">연도 선택</option>
                <option th:each="year : ${#numbers.sequence(1985, 2005)}" th:value="${year}" th:text="${year}">
            </option>
        </select>
          <input type="text" placeholder="이름 입력" class="input-field" name="name"/>
          <input type="submit" class="fortune-button" value="운세보러 가기!"/>
      </form>

  </div>

</body>
</html>

