<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <title>IndexPage</title>
</head>
<body>
<th:block th:replace="~{layout/header :: header}"></th:block>
<h2> ★☆ 스프링 시큐리티 테스트 ☆★ </h2>
<hr/>
<button><a href="/login" style="text-decoration: none; color: black;"> 로그인페이지 </a></button>
&nbsp;
<button><a href="/admin" style="text-decoration: none; color: black;"> 관리자페이지 </a></button>
</body>
</html>